/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 19, 2025, 12:25:40 AM
    Author     : Acer
*/

.login {
    min-height: 100vh;
}

.bg-image {

    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}


/* Khung và căn chỉnh form */
.form-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}


/* Tiêu đề form */
.login-heading {
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-height:  550px;
    margin-bottom: 25vh;
    margin-top: 25vh;

}